---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
        <a href="/blog">blog</a>
		<h1>My Astro Learning Blog</h1>
		<p>This is where I will post about my journey learning Astro.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In vero optio, placeat laboriosam voluptatibus numquam aliquid distinctio dolor nisi recusandae obcaecati fugit adipisci perspiciatis consequuntur fugiat odio omnis qui eos.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, quaerat sequi nesciunt laborum excepturi atque incidunt, reiciendis blanditiis asperiores quod aliquid magni aperiam hic! Dolore deleniti odit enim deserunt ullam.</p>
	</body>
</html>
